PROJECT_ENV=dev

# Inputs
INPUT_FILE_PATH_MONGODB=./data_samples/Walmart.csv
INPUT_FILE_PATH_API=./data_samples/Holidays.csv
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=walmart_db
MONGO_COLLECTION=ventas_raw
API_URL=https://date.nager.at/api/v3/publicholidays

# Test
SILVER_SCHEMA_PATH = ./data_contract/schema/silver_ventas.json
GOLD_SCHEMA_PATH = ./data_contract/schema/gold_ventas.json

# Output local
OUTPUT_DIR=./out

# Cloud selection
CLOUD_PROVIDER=gcp
GOOGLE_APPLICATION_CREDENTIALS=credentials/credentials.json
GCP_PROJECT_ID=proyecto-gcp
GCS_BUCKET=bucket-gcs

# BigQuery
BQ_DATASET=bsg_walmart
BQ_TABLE_GOLD=holiday_sales_impact